## Tuples
They can be used as immutable lists or as records with no field names.

### Tuples as records
Sorting the tuple would destroy the records information since the items position gives meaning to the data. <br>
Tuples work well as records thanks to the unpacking mechanism of python.

#### Tuples unpacking

In [1]:
traveler_ids = [('USA', '3214'), ('ITA', '4322')]
for passport in traveler_ids:
    print('%s/%s' % passport)

USA/3214
ITA/4322

Another type of unpacking

In [4]:
state, id = traveler_ids[0]
print(f'{state}, {id}')

USA, 3214

You can also swap values of variables without using a temporary variable

In [5]:
a = 1
b = 2
b, a = a, b
print(f'a={a}, b={b}')

a=2, b=1

You can also unpack a tuple by prefixing __*__ when inserting arguments inside of a function

In [7]:
print(divmod(20,8))
t = (20,8)
divmod(*t)

(2, 4)

(2, 4)

#### Named tuples
It is a factory which produces subclasses of tuple enhanced with field names and a class name

In [10]:
from collections import namedtuple
City = namedtuple('City', 'name country')
tokyo = City('Tokyo', 'JP')
print(tokyo)
print(tokyo[1])
print(City._fields)
delhi_data = ('Delhi', 'IN')
delhi = City._make(delhi_data)
print(delhi._asdict())
for key, value in delhi._asdict().items():
    print(f'{key}: {value}')

City(name='Tokyo', country='JP')
JP
('name', 'country')
{'name': 'Delhi', 'country': 'IN'}
name: Delhi
country: IN

### Tuples as immutable lists